/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 92%;
  color: black;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* css reset end */

.loading {
  background-color: lightgray;
  font-size: 3rem;
  text-align: center;
  margin: 20% 10px 0 10px;
}

body {
  font-family: "Oswald", sans-serif;
}

#hero {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10px 20px 10px;
  position: relative;
  height: 65vh;
  width: 100%;
  left: 0;
  right: 0;
}

#hero::after {
  z-index: -1;
  content: "";
  background-image: url("assets/oldNY.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

#hero-title {
  font-size: 6.5rem;
  padding: 30vh 0 20px 0;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  color: black;
  z-index: 100;
}

#little-media {
  padding-top: 45px;
  font-size: 1.9rem;
  font-style: italic;
}

/* hero end */

/* featured */

#featured {
  background-color: lightgray;
  height: 34.9vh;
  border: 2px black solid;
  padding: 10px 20px 4vh 5vw;
}

#featured-title {
  font-size: 2rem;
  padding-bottom: 15px;
  font-style: italic;
}

#featured-details {
  margin-left: 10vw;
  margin-bottom: 20px;
}
#featured-name {
  font-size: 2rem;
  padding-left: 7vw;
  color: black;
}
#featured-author {
  font-size: 1.3rem;
  padding: 10px 10px 10px 7vw;
}
#featured-preview {
  font-size: 1.3rem;
  padding: 0 10px 10px 7vw;

  text-indent: 2em;
}

/* featured end */

/* article previews */
#article-previews-title {
  font-size: 2rem;
  padding: 10px;
  font-style: italic;
}

.preview-card {
  padding: 30px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;

  position: relative;
}
.preview-card::before {
  z-index: -1;
  content: "";
  background-image: url("assets/oldNY.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.card-name {
  font-size: 1.5rem;
  color: black;
}
.card-author {
  padding: 7px;
}

.card-preview {
  font-size: 1.2rem;
}

.card-link {
  color: black;
  text-align: center;
}
.card-link:hover {
  color: blue;
  text-decoration: underline;
}
/* article preview end */

/* article */

.article-container {
  font-size: 1.5rem;
}

.article-header {
  height: 45px;
  top: 0;
  width: 100%;
  background-color: lightgray;

  font-size: 1.3rem;
}
.article-header > * {
  margin-left: 40px;
}

#header-img {
  width: 40px;
  margin-left: 10px;
}

.aritcle-name {
  font-size: 2.7rem;
  font-style: italic;
  text-align: center;
  padding: 30px 20px 15px 20px;
}

.aritcle-preview {
  font-weight: -1;

  opacity: 0.45;
  text-align: center;
  padding-bottom: 10px;
}

.author-mark {
  display: flex;

  width: 3vw;
  margin-left: 2rem;
  flex-direction: row;
  align-items: center;
}

.aritcle-mark-photo {
  border: 1.5px solid black;
  height: auto;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.aritcle-author {
  font-size: 1.3rem;
  font-family: "Lora";
}

.aritcle-body {
  padding: 35px 20px 20px 20px;
  font-family: "Lora";
  line-height: 2;
}

.article-paragraph {
  text-indent: 2em;
  padding-bottom: 20px;
}

.article-separator {
  border-top: 2px solid #bbb;
  width: 75%;
  margin: auto;
}

.author-blerb {
  padding: 20px;
  font-size: 1.1rem;
  position: relative;

  height: auto;
  display: flex;
  flex-wrap: no-wrap;
}

.blerb-txt {
  text-indent: 2em;
  display: inline-block;
}

.blerb-photo {
  border: 1.5px solid black;
  height: 100px;
  border-radius: 50%;
  right: 0;
  margin: 15px;
}

.index-return-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

/* article end */

/* footer */
.footer {
  margin-top: 30px;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;

  /* text-align: center; */
  font-size: 1.3rem;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* footer end */

/* media query start */
@media screen and (min-width: 700px) {
  /* article previews */
  .article-previews-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .preview-card {
    font-size: 1rem;

    height: 40vh;

    width: 48.5vw;
    text-align: center;
  }

  .card-name {
    font-size: 2rem;
  }
  .card-author {
    padding: 10px;
    font-size: 1.3rem;
  }

  .card-preview {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }

  .card-link {
    font-size: 1.1rem;
  }

  /* article preview end */
}

@media screen and (min-width: 1100px) {
  #hero-title {
    font-size: 9.5rem;
  }

  #little-media {
    padding-top: 65px;
    font-size: 3rem;
  }

  /* hero end */
  .preview-card {
    width: 32.5vw;
  }
}
